<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chatting</title>
    <link rel="stylesheet" th:href="@{/css/chatting.css}">
</head>
<body>
    <div id="container" class="container">
        <h1>채팅</h1>

        <input type="hidden" name="sessionId" id="sessionId" value="">
        <input type="hidden" name="roomId" id="roomId" th:value="${roomId}">
        <input type="hidden" name="name" id="name" th:value="${name}">

        <div id="chatting-grid"></div>

        <div id="wrap_msg">
            <table class="inputTable">
                <tr>
                    <th>메시지</th>
                    <th><input type="text" name="msg" id="msg" placeholder="보내실 메시지를 입력하세요." /></th>
                    <th><button onclick="send()" id="sendBtn">보내기</button></th>
                </tr>
                <tr>
                    <th>파일업로드</th>
                    <th><input type="file" name="fileUpload" id="fileUpload"></th>
                    <th><button id="sendFileBtn" onclick="fileSend()">파일올리기</button></th>
                </tr>
            </table>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script th:inline="javascript">
    let ws;
    let fileClassName;
    let name = [[${name}]];

    window.onload = function () {
        console.log(name);
        wsOpen();
    }

    // 사용자 이름까지 입력하면 웹소켓 연결 및 웹소켓 이벤트 바인딩
    function wsOpen() {
        ws = new WebSocket(`ws://${location.host}/ws/chatting/${$("#roomId").val()}`);
        wsEvent();
    }

    function wsEvent() {
        ws.onopen = function (data) {
            // 소켓이 열리면 초기화 세팅하기
        }
        ws.onmessage = function (data) {
            // 메시지를 받으면 동작
            const msg = data.data;
            console.log(data);
            console.log(msg);

            if (msg !== null && msg.type !== "") { // 파일 업로드가 아닌 경우 메시지를 뿌려준다.
                const jsonData = JSON.parse(msg);
                if (jsonData.type === "getId") {
                    const si = jsonData.sessionId !== null ? jsonData.sessionId : "";
                    if (si !== "") $("#sessionId").val(si);

                } else if (jsonData.type === "message") {
                    if (jsonData.sessionId === $("#sessionId").val()) {
                        $("#chatting-grid").append(`<p class="me">${jsonData.msg}</p>`);
                    } else {
                        $("#chatting-grid").append(`<p class="others">${jsonData.name} : ${jsonData.msg}</p>`);
                    }
                } else if (jsonData.type === "fileUpload") {
                    fileClassName =  jsonData.sessionId === $("#sessionId").val() ? "myImg" : "othersImg";
                    name = jsonData.name;
                } else {
                    console.warn("unknown type!")
                }

            } else { // 파일 업로드한 경우 업로드한 파일을 채팅방에 뿌려준다.
                const url = URL.createObjectURL(new Blob([msg]));
                console.log(url);
                if (fileClassName === "othersImg") {
                    $("#chatting-grid").append(`<div class="${fileClassName}"><span>${name} : </span><img class="img" src="${url}" /></div><div class="clearBoth"></div>`);
                } else {
                    $("#chatting-grid").append(`<div class="${fileClassName}"><img class="img" src="${url}" /></div><div class="clearBoth"></div>`);
                }


            }
        }
        document.addEventListener("keypress", function (e) {
            if (e.keyCode === 13) send();
        })
    }

    // 문자 메시지 전송시 이벤트 처리
    function send() {
        const option = {
            type : "message",
            sessionId : $("#sessionId").val(),
            roomId : $("#roomId").val(),
            name : $("#name").val(),
            msg : $("#msg").val()
        }
        ws.send(JSON.stringify(option)); // JSON 형식으로 전달
        $('#msg').val("");
    }

    // 사진 전송시 이벤트 처리
    function fileSend() {
        const file = document.querySelector("#fileUpload").files[0];
        const fileReader = new FileReader();
        fileReader.onload = function () {
            const param = {
                type : "fileUpload",
                file : file,
                filename : file.name,
                sessionId : $("#sessionId").val(),
                roomId : $("#roomId").val(),
                name : $("#name").val(),
            }
            ws.send(JSON.stringify(param)); // 파일을 보내기전 메시지를 보내서 파일을 보냄을 명시한다.
            const arrayBuffer = this.result;
            ws.send(arrayBuffer); // 파일 소켓 전송
        }
        fileReader.readAsArrayBuffer(file);
    }
</script>
</body>
</html>