<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chatting Room</title>
    <link rel="stylesheet" th:href="@{/css/room.css}">
</head>
<body>
    <div class="container">
        <h1>채팅방</h1>
        <div class="wrap_room">
            <table>
                <thead>
                    <th class="num">방 번호</th>
                    <th class="room">방 이름</th>
                    <th class="go"></th>
                </thead>
                <tbody class="roomList">

                </tbody>
            </table>
        </div>
        <div>
            <table class="inputTable">
                <tr>
                    <th>방제목</th>
                    <th><input type="text" name="roomName" class="roomName" /></th>
                    <th><button class="btn_createRoom" onclick="createRoom()">방 만들기</button></th>
                </tr>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script th:inline="javascript">

        const userId = [[${userId}]];

        window.onload = function () {
            getPagingList(page);
        }

        let page = 0;
        // Ajax 로 방 목록 정보 불러오기 - 페이지 로드되면 바로 실행 or 스크롤 최하단 도착시 실행
        function getPagingList(page) {
            const param = {"page": page, "size" : 15};
            commonAjax("/room/getPagingList", param, "post", "application/x-www-form-urlencoded; charset=UTF-8", function (result) {
                gridChattingRoom(result.content);
            })
        }

        // 방 목록 뿌리기
        function gridChattingRoom(result) {
            let rowNum = page > 0 ? Number($(".roomList tr:last-child").find("td:first-child").text()) : 0;
            if (result.length > 0) {
                // 방 개수만큼 row 생성
                let tag;
                result.forEach(function (data, idx) {
                    const roomId = data.roomId;
                    const roomName = data.roomName.trim();
                    tag += `<tr>
                            <td class="num">${rowNum + 1}</td>
                            <td class="room">${roomName}</td>
                            <td class="go"><button onclick='goRoom(\"${roomId}\", \"${roomName}\")'>참여</button></td>
                        </tr>`;
                    rowNum++;
                });
                $(".roomList").append(tag);
            }
        }

        // 채팅방 생성
        function createRoom() {
            const param = {
                creator : userId,
                roomName: $(".roomName").val()
            };

            commonAjax("/room/createRoom", JSON.isPrototypeOf(param), "post", null, function(result){
                alert("채팅방 생성이 완료되었습니다.");
                goRoom(result.roomId, result.roomName);
            });

            $(".roomName").val("");
        }

        // 선택한 채팅방으로 이동
        function goRoom(roomId, roomName) {
            location.href = `/room/moveChatting?roomId=${roomId}&roomName=${roomName}`;
        }

        function commonAjax(url, param, type, contentType, callback) {
            $.ajax({
                url : url,
                data : param,
                type : type,
                contentType : contentType !== null ? contentType : "application/json; charset=UTF-8",
                success: function (res) {
                    callback(res)
                },
                err : function (err) {
                    console.log("error");
                    callback(err);
                }
            })
        }

        $(".wrap_room").scroll(function () {
            let scrollTop = $(this).scrollTop();
            let innerHeight = $(this).innerHeight();
            let scrollHeight = $(this).prop("scrollHeight");

            if (scrollTop + innerHeight >= scrollHeight) {
                page++;
                getPagingList(page);
            }
        });
    </script>
</body>
</html>